{% extends 'base.html' %}

{% block titulo %}
{{ article.titulo }}
{% endblock %}
{% load static %}

{% block innerhead %}
    <script>
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            let FILE = "https://cdn.jsdelivr.net/gh/sindresorhus/github-markdown-css@main/github-markdown-dark.css"
            var css = document.createElement('link');
            css.setAttribute('rel','stylesheet');
            css.setAttribute('type', 'text/css');
            css.setAttribute('href', FILE);

            document.getElementsByTagName('head')[0].appendChild(css);
        }
        else{
            let FILE = "https://cdn.jsdelivr.net/gh/sindresorhus/github-markdown-css@main/github-markdown-light.css"
            var css = document.createElement('link');
            css.setAttribute('rel','stylesheet');
            css.setAttribute('type', 'text/css');
            css.setAttribute('href', FILE);

            document.getElementsByTagName('head')[0].appendChild(css);
        }
    </script>


    <title>{{ article.titulo }}</title>
    <meta name="description" content="{{ article.chamada }}">
    <meta name="keywords" content="
full-stack development, full stack developer, web development career, backend development, frontend development, software development, junior developer, software engineering, coding career, IT jobs, tech industry, programming roadmap, learn to code, self-taught developer, software engineering career, developer portfolio, coding bootcamp, web technologies, open source contributions, agile development, APIs, cloud computing, GitHub, DevOps, RESTful APIs, React, Node.js, Django, JavaScript, HTML, CSS, Python, SQL, version control, CI/CD, IT infrastructure, software architecture, database design, MVC, computer science fundamentals,

desenvolvimento full-stack, carreira em TI, desenvolvedor web, desenvolvedor backend, desenvolvedor frontend, programador iniciante, engenharia de software, carreira em programação, aprender a programar, tecnologia da informação, mercado de TI, roadmap do programador, desenvolvedor júnior, portfólio de programador, curso de programação, bootcamp de código, tecnologias web, computação em nuvem, APIs REST, DevOps, controle de versão, Git, GitHub, Python, JavaScript, React, Node, Django, banco de dados, arquitetura de software, boas práticas de programação, entrevista de emprego TI, carreira de TI
" />
    <meta name="author" content="Vinícius Pires">


    <meta property="og:title" content="{{article.titulo}}" />
    <meta property="og:description" content="{{article.chamada}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="/article/{{article.slug}}" />
    <meta property="og:image" content="/media/{% if article.banner %}{{article.banner}}{% else %}{% static 'assets/notFound.png' %}{% endif %}" />
    <meta property="og:site_name" content="vns.dev.br" />

    <meta property="article:author" content="Vinícius Pires" />
    <meta property="article:published_time" content="{{ article.data_publicacao }}" />
    <meta property="article:modified_time" content="{{ article.data_edicao  }}" />

    <meta name="robots" content="index, follow">
    <meta name="language" content="pt-BR">
    <meta name="distribution" content="global">
    <meta name="rating" content="general">


    <link rel="canonical" href="/article/{{ article.slug }}.html" />

    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "Article",
    "headline": "{{ article.titulo }}",
    "image": "/media/{% if article.banner %}{{article.banner}}{% else %}{% static 'assets/notFound.png' %}{% endif %}",
    "author": {
        "@type": "Person",
        "name": "Vinícius Pires"
    },
    "publisher": {
        "@type": "Organization",
        "name": "vns.dev.br",
        "logo": {
        "@type": "ImageObject",
        "url": "/static/assets/vns.jpg"
        }
    },
    "datePublished": "{{ article.data_publicacao }}",
    "dateModified": "{{ article.data_edicao }}",
    "description": "{{ article.chamada }}"
    }
    </script>


{% endblock %}

{% block conteudo %}
<main id="scroll-area">
    <div class="articleInnerMainContainer">
            <div class="singleArticleContainer">
                            <div class="singleArticleHead">

                                <h1 class="articleTitle">
                                    {{ article.titulo }}
                                </h1>
                                <p class="articleChamada">
                                    {{ article.chamada }}
                                </p>

                                <p class="articleData">
                                    <small>Publicado em :<code>  {{ article.data_publicacao}}</code></small>
                                </p>

                                <div class="articleAuthor"> 
                                    <img src="https://github.com/vnscss.png" alt="">
                                    <a href="https://github.com/vnscss">Vinícius Pires</a>
                                </div>
                            </div>


                        <div class="lineBr"></div>

                        <div class="imgContainer">
                            
                            {% if article.banner %}
                                <img src="/media/{{ article.banner }}" alt="">
                            {% else %}
                                <img src="{% static 'assets/notFound.png' %}" alt="">
                            {% endif %}
                            
                        </div>

                        {% load markdownify %}
                        <div class="markdown-body" style="background-color: #0000;">
                            {{ article.texto_html_parse | safe }}
                        </div>
                
            </div>
    </div>
</main>


<script>

    let markdownbody = document.querySelectorAll('.markdown-body *');
    markdownbody.forEach((element) => {
        if (element.tagName === 'IMG') {
            let height = element.naturalHeight;
            element. style.width = '100%';
            element.style.height = height   + 'px';
            element.style.objectFit = 'contain';
        }
    });

</script>
{% endblock %}