.pydevproject*
.project*
*.mo
*.pyc
*.*~
.*/migrations/
*.[pyc]
*/migrations/
*komodoprojetct*
*pycache*
*idea/
*pydevproject
*.project
.*/mypy_cache/
/CAA/nbproject/private/
/design/templates/design/templates/nbproject/private/
/design/templates/nbproject/private/
/templates/nbproject/private/
config
/.metadata/