{% extends 'base.html' %}

{% block titulo %}
    vns.dev.br
{% endblock %}
{% load static%}
{% block conteudo %}
<main id="scroll-area">
<div style="display: flex; align-items: center; justify-content: center; flex-direction: column; width: 100vw; padding-top: 5vh;">

<h1 style="padding-bottom: 4%;">Artigos mais recentes ↓</h1>

{% for article in articles %}
<div class="articlesContainer">
    {% if article.banner %}
        <img onclick="location.href='/article/{{ article.slug }}'" src="/media/{{ article.banner }}" alt="">
    {% else %}
         <img  onclick="location.href='/article/{{ article.slug }}'" src="{% static 'assets/notFound.png' %}" alt="">
    {% endif %}
    
    <div>
        <h1 onclick="location.href='/article/{{ article.slug }}'">
            {{ article.titulo }}
        </h1>
        <p onclick="location.href='/article/{{ article.slug }}'">
            {{ article.chamada }}
        </p>
    </div>
</div>

<div class="lineBr"></div>
{% endfor %}
</div>
</main>
<footer>
    <a href="{% url 'ArticleListView' %}">Ler mais </a>
</footer>
{% endblock %}