<style>

:root{
    --cinza: rgba(70, 70, 70, 0.219);
    --shadow: rgba(0, 0, 0, 0.178);
}

*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header{

    border-bottom: 2px dashed var(--cinza);

    width: 100vw;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20%;
}

.headerTitle{
    font-weight: bold;
}

.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30%;
}

.redes a img{
    width: 30px;
    border-radius: 30%;
}

.search{
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    background-color: white;
    height: 50px;


    box-shadow: 0px 0px 10px 2px var(--shadow);
    -webkit-box-shadow: 0px 0px 10px 2px var(--shadow);
    -moz-box-shadow: 0px 0px 10px 2px var(--shadow);
    border-radius: 50px;
}

.search input{
    width: 85%  ;
     text-align: center;
} 

.search input , .search input:focus{
background-color: white;
height: 50px;
border-radius: 50px 0px 0px 50px;
border: none;
outline: none;

}

.search button {
    background: none;
    border: none;
    width: 30px ;
    cursor: pointer;
    
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 85vh;

    width: 100vw;

    padding-top: 5vh;

    overflow: scroll;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.articlesContainer{
    width: 80%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;

    height: 25vh;

    padding-bottom: 1.5vh;
    padding-top: 1.5vh;

    margin-top: 1.5vh;
    margin-bottom: 1.5vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 7%;


  opacity: 0; /* estado inicial */
  animation: fadeIn 1s ease-in forwards;
}

.articlesContainer:nth-child(1) { animation-delay: 0s; }
.articlesContainer:nth-child(3) { animation-delay: 0.3s; }
.articlesContainer:nth-child(5) { animation-delay: 0.6s; }
.articlesContainer:nth-child(7) { animation-delay: 0.9s; }
.articlesContainer:nth-child(9) { animation-delay: 1.2s; }

.articlesContainer div{
    width: 65%;
    height: 100%;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);        
}

.articlesContainer h1{
    cursor: pointer;
}

.articlesContainer p{
    max-height: 50%;
}

.articlesContainer img{
    height: 100%;   
    width: 35%;
    object-fit: contain;
    cursor: pointer;

}


.lineBr{
    background-color: var(--cinza);
    width: 70vw;
    min-height: 1px;
    height: 1px !important;


  opacity: 0; /* estado inicial */
  animation: fadeIn 1s ease-in forwards;
}

.lineBr:nth-child(2) { animation-delay: 0s; }
.lineBr:nth-child(4) { animation-delay: 0.3s; }
.lineBr:nth-child(6) { animation-delay: 0.6s; }
.lineBr:nth-child(8) { animation-delay: 0.9s; }
.lineBr:nth-child(10) { animation-delay: 1.2s; }
</style>