<style>

:root{
    --cinza: rgba(70, 70, 70, 0.219);
    --shadow: rgba(0, 0, 0, 0.178);
}

*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header{

    border-bottom: 2px dashed var(--cinza);

    width: 100vw;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20%;
}

.headerTitle{
    font-weight: bold;
}

.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30%;
}

.redes a img{
    width: 30px;
    border-radius: 30%;
}

.search{
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    background-color: white;
    height: 50px;


    box-shadow: 0px 0px 10px 2px var(--shadow);
    -webkit-box-shadow: 0px 0px 10px 2px var(--shadow);
    -moz-box-shadow: 0px 0px 10px 2px var(--shadow);
    border-radius: 50px;
}

.search input{
    width: 85%  ;
     text-align: center;
} 

.search input , .search input:focus{
background-color: white;
height: 50px;
border-radius: 50px 0px 0px 50px;
border: none;
outline: none;

}

.search button {
    background: none;
    border: none;
    width: 30px ;
    cursor: pointer;
    
}

main{
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;

    height: 85vh;

    width: 100vw;

    padding-top: 5vh;

    overflow: scroll;
}

main {
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;

    height: 85vh;

    width: 100vw;

    padding-top: 5vh;

    overflow: scroll;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.articlesContainer{
    width: 80%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;

    height: 25vh;

    padding-bottom: 1.5vh;
    padding-top: 1.5vh;

    margin-top: 1.5vh;
    margin-bottom: 1.5vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 7%;


  opacity: 0; /* estado inicial */
  animation: fadeIn 1s ease-in forwards;
}

.articlesContainer:nth-child(1) { animation-delay: 0s; }
.articlesContainer:nth-child(3) { animation-delay: 0.3s; }
.articlesContainer:nth-child(5) { animation-delay: 0.6s; }
.articlesContainer:nth-child(7) { animation-delay: 0.9s; }
.articlesContainer:nth-child(9) { animation-delay: 1.2s; }

.articlesContainer div{
    width: 65%;
    height: 100%;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);        
}

.articlesContainer h1{
    cursor: pointer;
}

.articlesContainer p{
    max-height: 50%;
}

.articlesContainer img{
    height: 100%;   
    width: 35%;
    object-fit: contain;
    cursor: pointer;

}


.lineBr{
    background-color: var(--cinza);
    width: 70vw;
    min-height: 1px;
    height: 1px !important;


  opacity: 0; /* estado inicial */
  animation: fadeIn 1s ease-in forwards;
}

.lineBr:nth-child(2) { animation-delay: 0s; }
.lineBr:nth-child(4) { animation-delay: 0.3s; }
.lineBr:nth-child(6) { animation-delay: 0.6s; }
.lineBr:nth-child(8) { animation-delay: 0.9s; }
.lineBr:nth-child(10) { animation-delay: 1.2s; }

footer{
    width: 100vw;
    border-top: 2px dashed var(--cinza);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (prefers-color-scheme: dark) {
  :root {
      --cinza: rgba(255, 255, 255, 0.15);
      --shadow: rgba(255, 255, 255, 0.1);
  }

  body {
      background-color: #121212;
      color: #f0f0f0;
  }

  .redes .github{
    filter: invert(1);
  }
  .search {
      background-color: #1e1e1e;
  }

  .searchButton * {
      color: #f0f0f0;
  }

  .search input,
  .search input:focus {
      background-color: #1e1e1e;
      color: #f0f0f0;
  }

  .articlesContainer h1 {
      color: #ffffff;
  }

  .articlesContainer p {
      color: #cccccc;
  }

  .search button img,
  .redes a img,
  .articlesContainer img {
      filter: brightness(0.9);
  }

  .lineBr {
      background-color: var(--cinza);
  }
}





@media (max-width: 1024px) {
    body {
        height: 100dvh;
    }
  .search {
    width: 50vw;
  }

  .articlesContainer {
    width: 90%;
    gap: 5%;
  }

  .articlesContainer div {
    width: 60%;
  }

  .articlesContainer img {
    width: 40%;
  }

  .lineBr {
    width: 90vw;
  }
}

@media (max-width: 768px) {
        body {
        height: 100dvh;
    }
  header {
    flex-direction: column;
    gap: 10px;
    height: auto;
    padding: 10px 0;
  }

  .redes {
    gap: 20px;
  }

  .search {
    width: 80vw;
    flex-direction: row;
  }

  .search input {
    font-size: 0.9em;
  }

  .articlesContainer {
    flex-direction: column;
    height: auto;
    padding: 10px;
    gap: 15px;
  }

  .articlesContainer div {
    width: 100%;
  }

  .articlesContainer img {
    width: 100%;
    height: auto;
  }

  .lineBr {
    width: 80vw;
  }
}

@media (max-width: 480px) {
        body {
        height: 100dvh;
    }
  .search input {
    width: 80%;
    font-size: 0.85em;
  }

  .search button {
    width: 20%;
  }

  .articlesContainer h1 {
    font-size: 1.2em;
    text-align: center;
  }

  .articlesContainer p {
    font-size: 0.9em;
    text-align: center;
    height: 45px;
  }

  .redes a img {
    width: 24px;
  }
}


</style>