{% extends 'base.html' %}

{% block titulo %}
{{ article.titulo }}
{% endblock %}

{% block innerhead %}
    <script>
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            let FILE = "https://cdn.jsdelivr.net/gh/sindresorhus/github-markdown-css@main/github-markdown-dark.css"
            var css = document.createElement('link');
            css.setAttribute('rel','stylesheet');
            css.setAttribute('type', 'text/css');
            css.setAttribute('href', FILE);

            document.getElementsByTagName('head')[0].appendChild(css);
        }
        else{
            let FILE = "https://cdn.jsdelivr.net/gh/sindresorhus/github-markdown-css@main/github-markdown-light.css"
            var css = document.createElement('link');
            css.setAttribute('rel','stylesheet');
            css.setAttribute('type', 'text/css');
            css.setAttribute('href', FILE);

            document.getElementsByTagName('head')[0].appendChild(css);
        }
    </script>
{% endblock %}

{% block conteudo %}
<main id="scroll-area">
    <div class="articleInnerMainContainer">
            <div class="singleArticleContainer">
                            <div>

                                <h1 class="articleTitle">
                                    {{ article.titulo }}
                                </h1>
                                <p class="articleChamada">
                                    {{ article.chamada }}
                                </p>

                                <p class="articleData">
                                    <small>Publicado em: {{ article.data_publicacao  }}</small>
                                </p>

                                <div class="articleAuthor"> 
                                    <img src="https://github.com/vnscss.png" alt="">
                                    <a href="https://github.com/vnscss">Vinícius Pires</a>
                                </div>
                            </div>


                        <div class="lineBr"></div>

                        <div class="imgContainer">
                            {% load static %}
                            {% if article.banner %}
                                <img src="/media/{{ article.banner }}" alt="">
                            {% else %}
                                <img src="{% static 'assets/notFound.png' %}" alt="">
                            {% endif %}
                            
                        </div>

                        {% load markdownify %}
                        <div class="markdown-body" style="background-color: #0000;">
                            {{ article.texto_html_parse | safe }}
                        </div>
                
            </div>
    </div>
</main>


<script>

    let markdownbody = document.querySelectorAll('.markdown-body *');
    markdownbody.forEach((element) => {
        if (element.tagName === 'IMG') {
            let height = element.naturalHeight;
            element. style.width = '100%';
            element.style.height = height   + 'px';
            element.style.objectFit = 'contain';
        }
    });

</script>
{% endblock %}